<div class="breadcrumb has-succeeds-separator">
  <ul>
    <li><%= link_to t('finance.admin.budgets.index.title'), { controller: 'expenses', id: @expense.id } %></li>
    <li class="is-active"><%= @expense.title %></li>
  </ul>
</div>
