<div class="breadcrumb has-succeeds-separator">
  <ul>
    <li><%= link_to t('finance.admin.assessments.index.title'), { controller: 'assessments' } %></li>
    <li class="is-active"><%= t('.title') %></li>
  </ul>
</div>
