<%= render 'filter_form' %>

<table class="table is-hoverable is-fullwidth">
  <thead>
    <tr>
    
    </tr>
  </thead>
  <tbody data-controller="tree">
  <% @financial_taxons.each do |financial_taxon| %>
    <%= render partial: 'financial_taxon', locals: { financial_taxon: financial_taxon } %>
    <%= draw_tree(partial: 'financial_taxon', object: financial_taxon) %>
  <% end %>
  </tbody>
</table>

<%= paginate @financial_taxons %>
