<% content_for :breadcrumb do %>
<div class="tabs">
  <ul>
    <li class="<%= active_helper('finance/me/budgets': ['index'], active: 'is-active') %>"><%= link_to t('finance.me.budgets.index.title'), { action: 'index' } %></li>
    <li class="<%= active_helper('finance/me/budgets': ['admin'], active: 'is-active') %>"><%= link_to t('finance.me.budgets.admin.title'), { action: 'admin' } %></li>
  </ul>
</div>
<% end %>
