<div data-controller="empty" class="box is-padding-less mx-3">
  <div class="box-body">
    <span class="text-grey size-7 has-border-left-primary"><%= t('finance.me.title') %></span>
  </div>
  <div class="columns is-4-mobile flex is-vcentered is-centered m-0 is-shadow" data-empty-target="content">
    <%= link_to({ controller: 'finance/me/expenses' }, class: 'column has-column-centered') do %>
      <div class="text-primary">
        <i class="fa-solid fa-fw fa-xl fa-users"></i>
      </div>
      <div class="text-grey size-7 mt-1"><%= t('finance.me.expenses.index.title') %></div>
    <% end %>
  </div>
</div>
