<div class="tabs">
  <ul>
    <li class="<%= active_helper(controllers: 'expense_members', active: 'is-active') %>"><%= link_to t('finance.me.expense_members.index.title'), { controller: 'expense_members' } %></li>
    <li><%# link_to 'My Payment Methods', { }, class: active_helper(controllers: 'payment_methods') %></li>
  </ul>
</div>
