<span class="menu-label"><%= t('finance.my.title') %></span>
<div class="menu-list">
  <%= link_to 'My Expenses', my_expense_members_path, class: active_helper(controllers: ['finance_my/expense_members', 'payment_methods']) %>
  <%= link_to 'Admin Expenses', my_expenses_path, class: active_helper(controllers: ['finance_admin/expense_members', 'expenses']) %>
</div>
