<div class="ui segment breadcrumb">
  <%= link_to 'Back', finance_expenses_path(id: @expense.id), class: 'section' %>
  <div class="divider"> / </div>
  <div class="active section">Expense members</div>
</div>
<%= render 'nav_expense' %>

<%= render 'index_table' %>
